In [18]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
from sqlalchemy import inspect
from sqlalchemy import create_engine, MetaData, Table, Column, Numeric, Integer, VARCHAR
from sqlalchemy.engine import result
from sqlalchemy import text
import psycopg2
import pandas as pd

In [8]:
def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [ ]:
connection = create_connection(
    'db',
    'user',
    'pw',
    'host',
    5432
)

In [10]:
def execute_query(connection, query):
    with connection.cursor() as cursor:
        cursor.execute(query)
        records = cursor.fetchall()
    return records

In [11]:
SQL = """select column_name, data_type, character_maximum_length, column_default, is_nullable
from INFORMATION_SCHEMA.COLUMNS where table_name = 'ndic.ndic_traffic_info';"""

In [ ]:
connection = restart_connection(connection_details)

In [14]:
execute_query(connection, SQL)

[]

In [25]:
SQL = "SELECT * FROM waze_ccp.wazeccp_alerts ORDER BY id ASC, uuid ASC, pub_utc_date LIMIT 100000"

In [26]:
waze = execute_query(connection, SQL)

In [27]:
df = pd.DataFrame(waze)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,000001d6-a1a6-5cd0-9648-2f1fb5fdddf0,02c757a1-e28e-4d89-9908-577280fb6740,1709706745000,2024-03-06 06:32:25,3.0,"{'x': 14.589082, 'y': 50.106211}",D0 - Pražský okruh,None,EZ,346,...,None,2024-03-06 07:34:05.937000+01:00,2024-03-06 07:36:04.566000+01:00,1,None,2024-03-06 07:34:15.394000+01:00,None,None,2024-03-06 07:36:15.017000+01:00,None
1,00000263-4cfd-2a97-8dd5-db933dcf9c09,2c7d440c-557a-4f74-a5a6-47296e356a42,1724656168000,2024-08-26 07:09:28,3.0,"{'x': 14.588864, 'y': 50.106801}",D0 - Pražský okruh,None,EZ,346,...,None,2024-08-26 09:10:01.666000+02:00,2024-08-26 09:20:01.894000+02:00,5,None,2024-08-26 09:10:14.258000+02:00,None,None,2024-08-26 09:20:17.637000+02:00,None
2,00000769-3672-7ad8-b5ec-9a3ea7fb0e44,1eb1188f-6f01-441a-bc90-c9b01425c8ed,1716869930000,2024-05-28 04:18:50,3.0,"{'x': 14.535967, 'y': 50.115691}",Novopacká,Praha,EZ,267,...,None,2024-05-28 06:20:01.770000+02:00,2024-05-28 06:50:01.481000+02:00,15,None,2024-05-28 06:20:15.333000+02:00,None,None,2024-05-28 06:50:14.065000+02:00,None
3,00000fda-9c6f-3b95-d0cd-526a0e60afca,275ba6bd-391a-4e4d-8e97-9f03305b9e27,1713442844000,2024-04-18 12:20:44,1.0,"{'x': 14.47196, 'y': 50.089992}",Biskupcova,Praha,EZ,60,...,None,2024-04-18 14:22:01.664000+02:00,2024-04-18 15:24:03.092000+02:00,31,None,2024-04-18 14:22:23.127000+02:00,None,None,2024-04-18 15:24:35.009000+02:00,None
4,000017e1-e47c-a802-4ebd-cf6a2bec811d,508f13c3-acd7-406c-8113-749b64f980ea,1701793502000,2023-12-05 16:25:02,3.0,"{'x': 14.472791, 'y': 50.039917}",5. května,Praha,EZ,274,...,None,2023-12-05 17:26:03.254000+01:00,2023-12-05 17:30:06.503000+01:00,2,None,2023-12-05 17:26:30.573000+01:00,None,None,2023-12-05 17:30:17.775000+01:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0b16904a-fac0-da8f-7494-fd8b5b3bd6a0,9ddf0133-83f3-4b9f-aee4-fda49192b665,1721394746000,2024-07-19 13:12:26,2.0,"{'x': 14.490369, 'y': 50.033522}",Pod Chodovem,Praha,EZ,228,...,None,2024-07-19 15:14:02.367000+02:00,2024-07-19 17:56:01.010000+02:00,82,None,2024-07-19 15:14:24.293000+02:00,None,None,2024-07-19 17:56:15.759000+02:00,None
99996,0b16913a-2e42-f328-ffdd-5afa15b2f383,e47dfae1-e402-4b19-ac4b-3dc70d8883f5,1706684497000,2024-01-31 07:01:37,17.0,"{'x': 14.419523, 'y': 50.092806}",None,Praha,EZ,253,...,None,2024-01-31 08:02:02.512000+01:00,2024-01-31 20:04:02.473000+01:00,361,None,2024-01-31 08:02:03.512000+01:00,None,None,2024-01-31 20:04:04.446000+01:00,None
99997,0b169494-e65d-d756-6027-5f980c08511d,fecdcb15-51ae-4c52-9046-f6fc3d111776,1711529829000,2024-03-27 08:57:09,3.0,"{'x': 14.594598, 'y': 50.087512}",D0 - Pražský okruh,None,EZ,181,...,None,2024-03-27 09:58:00.895000+01:00,2024-03-27 10:10:01.678000+01:00,6,None,2024-03-27 09:58:06.040000+01:00,None,None,2024-03-27 10:10:17.187000+01:00,None
99998,0b169bf8-d082-aaa6-6fce-9f4649f4cbf5,a156caa5-9d04-4e90-94a7-1922685cfa18,1723717797000,2024-08-15 10:29:57,2.0,"{'x': 14.476146, 'y': 50.356916}",Bezručova,Mělník,EZ,119,...,None,2024-08-15 12:30:03.631000+02:00,2024-08-15 13:04:02.505000+02:00,17,None,2024-08-15 12:30:21.553000+02:00,None,None,2024-08-15 13:04:14.191000+02:00,None
99999,0b16b774-1861-1272-53b3-ae28ce65169d,20541bfd-08d4-4e3b-b9d2-b1b6f795c040,1718719807000,2024-06-18 14:10:07,6.0,"{'x': 14.466159, 'y': 50.117589}",V Holešovičkách,Praha,EZ,90,...,None,2024-06-18 16:12:01.681000+02:00,2024-06-18 16:44:00.974000+02:00,16,None,2024-06-18 16:12:32.777000+02:00,None,None,2024-06-18 16:44:14.547000+02:00,None